<!DOCTYPE html>
<html>
<body>
<!-- nav bar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto navbar-left">
        <li class="navbar-brand"><img src="http://localhost/CS4640-ztm4qv-kk6ev-project/images/small-logo.png" height="30" class="d-inline-block align-top" alt=""></li>
        <li class="nav-item"><a class="nav-link" href="http://localhost/CS4640-ztm4qv-kk6ev-project/templates/homepage-after-login.php">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="http://localhost/CS4640-ztm4qv-kk6ev-project/templates/organizations.php">Organizations</a></li>
        <li class="nav-item"><a class="nav-link active" href="#">Add Organization</a></li>
    </ul>
    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/CS4640-ztm4qv-kk6ev-project/templates/profile.php">Your Profile</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" href="http://localhost/CS4640-ztm4qv-kk6ev-project/templates/logout.php">Sign out</a>
        </li>
    </ul>
    </nav>


  <div class="container">
  
   <form #orderForm="ngForm"  (ngSubmit)="onSubmit(orderForm.value)">
    <div class="section"><span>1</span>{{ title }}</div>
    <div class="inner-section">
      <label>Organization Name:</label>
      <input placeholder="Organization"type="text" class="form-control" id = "myText" name="name"
             required
             #name="ngModel"
             [class.is-invalid]="name.invalid && name.touched"
             [(ngModel)]="orderModel.name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Organization name is requried</small>
      <br>
      <label>Type of Organization: </label>
      <select class="custom-select" [(ngModel)]="orderModel.type" name="type">
        <option value="">Select Type </option>
        <option *ngFor="let drink of drinks"> {{ drink }}
        </option>
      </select>
        <br>  
      <br>
      <label>Days and Times of Meeting: </label>
      <input type="text" [(ngModel)]="orderModel.days"  class="form-control" placeholder="Monday at 2:00pm" name= "days" id ="days" />
        <br>  
        <label>Dues: </label><input type="text" [(ngModel)]="orderModel.dues"  class="form-control" placeholder="100" name= "dues" id ="dues" />
        <br>  
        <label>Location: <input type="text" [(ngModel)]="orderModel.locations" class="form-control" name="locations" placeholder = "120 Olsson Hall" /> </label>
        <br>  
        <label>About:<input type="text"  [(ngModel)]="orderModel.about" class="form-control" name="about" onkeyup="countChar(this)" placeholder = "About your organization" id = "message" /></label>
          <div class = "help" id="charNum"></div>
          <br>
          <!-- <label>Do you want to include an image?<br> </label>-->
          <input type="hidden" [(ngModel)]="orderModel.uploadfile" class="form-control" name ="uploadfile" id = "picupload" />
      </div>
  
    <button [ngClass]="{ btn:true, 'btn-primary':true }"
            (click)="confirmOrder(orderForm.value);showMyContainer=!showMyContainer"
            title="always enabled"  id = "button1" >Submit</button>
  
    &nbsp;&nbsp;&nbsp;&nbsp;
  

  
  </form>

<div *ngIf="showMyContainer">
  <hr />
  <h3 [ngStyle]="{'color': 'black'}">{{ (confirm_msg.length > 0)? 'Submission Confirmation' : ''}}</h3>
  <!-- Confirm: -->
    <font color="green" style="font-style:italic">
      {{ (confirm_msg.length > 0)? confirm_msg : test_msg }}
      <br>
      {{(confirm_msg.length > 0)? type_msg : '' }}
      <br>
      {{ (confirm_msg.length > 0)? confirm_msg2 :'' }}
      <br>
      {{  (confirm_msg.length > 0)? dues_msg : ''}}
      <br>
      {{  (confirm_msg.length > 0)? location_msg : ''}}
      <br>
      {{   (confirm_msg.length > 0)? about_msg :'' }}
      <br>
      <button id = "button2"  (click)="goback()">Go to Next Page</button>
    </font> <br/>
    
</div>
  <br>
  
  </div>
  
  
  <br/><br/><br/>
  <!-- footer -->

</body>
</html>

<!-- <router-outlet></router-outlet> -->
   